<mtapp:setting
  id="sort_order"
  label="<__trans phrase="Sort of widget">"
  show_hint="0">
<p>
<input type="radio" name="sort_order" id="sort_order_ascend" value="ascend"<mt:if name="sort_order" eq="ascend"> checked="checked"</mt:if> /> <__trans phrase="ascend">
&nbsp;&nbsp;&nbsp;
<input type="radio" name="sort_order" id="sort_order_descend" value="descend"<mt:if name="sort_order" eq="descend"> checked="checked"</mt:if> /> <__trans phrase="descend">
</p>
</mtapp:setting>
